.hosting-bg{
  background-image: url(http://hrsoftbd.com/front_end_assets/images/page-bg1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 0;
  height: 100px;
}
.con-txt{
  color: white;
  align-items: center;
  margin: auto;
  
}
.card_info-inner {
  border-radius: 4px;
  box-shadow: 0 30px 50px 0rgba(1,11,60,.1);
  padding: 45px 70px 45px 40px;
  position: relative;
  z-index: 1;
  font-size: 16px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}